body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 30px;
    font-size: 30px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.display {
    display: flex;
    align-items: flex-end;
    height: 90px;
    justify-content: flex-end;
    font-size: 40px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

[data-action="calculate"] {
    grid-column: span 2;
}

.operator {
    background-color: orange;
}

.clear {
    background-color: greenyellow;
}